.main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

h3 {
    color: #eeececb2 !important;
    text-align: center;
    padding-bottom: 10px;
    line-height: 1em;
    font-weight: 500;
    text-shadow: 2px 2px black;
}

h2 {
    font-weight: 700;
    font-size: 32px;
    color: #c51111 !important;
    text-shadow: 2px 2px black;
    line-height: 0.8em;
    text-align: center;
    margin-bottom: 10px;
}

.services {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 20px;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 20px;
    background-color: #eeececb2;
    border: 3px solid #c51111;
    border-radius: 10px;
    list-style: none;
    cursor: pointer;
}

li > img {
    max-width: 100%;
    height: auto;
}

li > p {
    text-shadow: none;
    font-weight: 500;
    font-size: 18px;
}

li:hover {
    color: #c51111;
}